body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-image: url(/assets/fondo-amarillo.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.navegacionbar {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #fff;
    background-image: url(/assets/fondo-amarillo.avif);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 12px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.navegacion-btn {
    text-decoration: none;
    width: 14%;
    color: black;
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0px;
    border-left: 1px solid black;
}

.bordernone-btn {
    border: none;
}

.selected {
    border: 5px navajowhite solid;
    font-weight: 500;
}

.contenedor-principal {
    display: flex;
    padding-top: 140px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.contenedor-column {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-banner-left {
    left: -100px;
}

.btn-banner-right {
    right: -100px;
}

.banner-imagen {
    width: 100%;
    height: 400px;
    text-align: center;
    align-content: center;
}

.contenido-banner {
    width: 100%;
    height: 100%;
}
/* 
.imagenes {
    width: 100%;
    height: 100%;
} */

.descripcion-banner {
    width: 60%;
}

.calendario {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
}

.dias {
    font-size: 4rem;
    text-align: center;
    border-bottom: 2px #000 solid;
    padding: 0px 20px;
    margin: 0;
}

.texto-destacado {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.imagen-texto {
    width: 150px;
    height: 100px;
    text-align: center;
    align-content: center;
}

.margin-bottom {
    margin-bottom: 50px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.titulo-seccion {
    width: 50%;
    justify-content: start;
}

.conoce-info {
    display: flex;
    width: 70%;
    justify-content: space-between;
    gap: 30px;
    height: 300px;
}

.conoce-descripcion {
    width: 40%;
}

.banner-conoce {
    width: 60%;
}

.banner-imagen-conoce {
    width: 100%;
    height: 200px;
}

.contenido-banner-conoce {
    width: 100%;
    height: 100%;
}

.imagen-banner-conoce {
    width: 70%;
    height: 200px;
    align-content: center;
    text-align: center;
}

.contenido {
    display: flex;
    width: 50%;
    justify-content: center;
}

.contacto-texto {
    width: 50%;
    text-align: center;
}

.link-productos {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}