body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-image: url(/assets/fondo-blanco.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.navegacionbar {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #fff;
    background-image: url(/assets/fondo-blanco.webp);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 12px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.navegacion-btn {
    text-decoration: none;
    width: 14%;
    color: black;
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0px;
    border-left: 1px solid black;
}

.first-btn {
    border: none;
}

.aside {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    position: fixed;
    z-index: 1000;
    width: 15%;
    align-items: center;
}

.aside-btn {
    text-decoration: none;
    width: 80%;
    text-align: center;
    color: black;
    font-size: 1.25rem;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

.bordernone-btn {
    border: none;
}

.selected {
    border: 5px navajowhite solid;
    font-weight: 500;
}

.contenedor-principal {
    display: flex;
    padding-top: 140px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.contenedor-column {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.subtitulo {
    margin: 0;
    font-size: 1.3rem;
}

.imagentexto {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.flex-start {
    text-align: start;
    width: 70%;
}

.imagenes {
    width: 100%;
    height: 100%;
}

.img-border {
    border: #000 solid 1px;
}

.partes-iguales {
    width: 45%;
}

.tradiciones {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen-tradiciones {
    width: 70%;
    height: 300px;
}